/* CSS declarations go here */

.description {
	margin-top: 15px;
}

.desc > thead > tr > th,
.desc > tbody > tr > th,
.desc > tfoot > tr > th,
.desc > thead > tr > td,
.desc > tbody > tr > td,
.desc > tfoot > tr > td {
	border-top: none;
}

.desc > tbody > tr > td {
	border: solid 1px #999;
}

.cal > tbody > tr > td {
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid 1px #999;
	cursor: pointer;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.cal > thead > tr > th {
	text-align: center;
	border-bottom: none;
}

.cal > tbody > tr > td > p {
	margin-bottom: 0;
}

.cal > tbody > tr > td > p > h5 {
	margin-bottom: 3px;
}
